
.CoursesContainerPage{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
}

.CoursesContainer {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 10%;
    width: min(1200px, 80%);
    align-content: center;
}
